#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.cproject
.project
System.map
api/libapi.a
board/samsung/micro2440/.depend
board/samsung/micro2440/flash.o
board/samsung/micro2440/libmicro2440.a
board/samsung/micro2440/lowlevel_init.o
board/samsung/micro2440/micro2440.o
board/samsung/micro2440/nand_read.o
common/.depend
common/cmd_bdinfo.o
common/cmd_bmp.o
common/cmd_boot.o
common/cmd_bootm.o
common/cmd_cache.o
common/cmd_console.o
common/cmd_date.o
common/cmd_echo.o
common/cmd_eeprom.o
common/cmd_elf.o
common/cmd_exit.o
common/cmd_fat.o
common/cmd_flash.o
common/cmd_help.o
common/cmd_i2c.o
common/cmd_itest.o
common/cmd_jffs2.o
common/cmd_load.o
common/cmd_mem.o
common/cmd_misc.o
common/cmd_mmc.o
common/cmd_nand.o
common/cmd_net.o
common/cmd_nvedit.o
common/cmd_pcmcia.o
common/cmd_reginfo.o
common/cmd_source.o
common/cmd_test.o
common/cmd_usb.o
common/cmd_usbslave.o
common/cmd_version.o
common/cmd_ximg.o
common/command.o
common/console.o
common/dlmalloc.o
common/env_common.o
common/env_nand.o
common/exports.o
common/flash.o
common/hush.o
common/image.o
common/libcommon.a
common/main.o
common/memsize.o
common/s_record.o
common/stdio.o
common/usb.o
common/usb_storage.o
common/xyzModem.o
cpu/arm920t/.depend
cpu/arm920t/cpu.o
cpu/arm920t/interrupts.o
cpu/arm920t/libarm920t.a
cpu/arm920t/s3c24x0/.depend
cpu/arm920t/s3c24x0/interrupts.o
cpu/arm920t/s3c24x0/libs3c24x0.a
cpu/arm920t/s3c24x0/mmc.o
cpu/arm920t/s3c24x0/speed.o
cpu/arm920t/s3c24x0/timer.o
cpu/arm920t/s3c24x0/usb.o
cpu/arm920t/s3c24x0/usb_ohci.o
cpu/arm920t/start.o
disk/.depend
disk/libdisk.a
disk/part.o
disk/part_dos.o
drivers/bios_emulator/libatibiosemu.a
drivers/block/libblock.a
drivers/dma/libdma.a
drivers/fpga/libfpga.a
drivers/gpio/libgpio.a
drivers/hwmon/libhwmon.a
drivers/i2c/.depend
drivers/i2c/libi2c.a
drivers/i2c/s3c24x0_i2c.o
drivers/input/libinput.a
drivers/misc/libmisc.a
drivers/mmc/libmmc.a
drivers/mtd/libmtd.a
drivers/mtd/nand/.depend
drivers/mtd/nand/libnand.a
drivers/mtd/nand/nand.o
drivers/mtd/nand/nand_base.o
drivers/mtd/nand/nand_bbt.o
drivers/mtd/nand/nand_ecc.o
drivers/mtd/nand/nand_ids.o
drivers/mtd/nand/nand_util.o
drivers/mtd/nand/s3c2410_nand.o
drivers/mtd/onenand/libonenand.a
drivers/mtd/spi/libspi_flash.a
drivers/mtd/ubi/libubi.a
drivers/net/.depend
drivers/net/dm9000x.o
drivers/net/libnet.a
drivers/net/phy/libphy.a
drivers/pci/libpci.a
drivers/pcmcia/.depend
drivers/pcmcia/libpcmcia.a
drivers/pcmcia/rpx_pcmcia.o
drivers/pcmcia/tqm8xx_pcmcia.o
drivers/power/libpower.a
drivers/rtc/.depend
drivers/rtc/date.o
drivers/rtc/librtc.a
drivers/rtc/s3c24x0_rtc.o
drivers/serial/.depend
drivers/serial/libserial.a
drivers/serial/serial_s3c24x0.o
drivers/spi/libspi.a
drivers/twserial/libtws.a
drivers/usb/gadget/.depend
drivers/usb/gadget/core.o
drivers/usb/gadget/ep0.o
drivers/usb/gadget/libusb_gadget.a
drivers/usb/host/libusb_host.a
drivers/usb/musb/libusb_musb.a
drivers/usb/phy/.depend
drivers/usb/phy/libusb_phy.a
drivers/usb/phy/twl4030.o
drivers/usb/slave/.depend
drivers/usb/slave/interrupt.o
drivers/usb/slave/libusb_slave.a
drivers/usb/slave/usbin.o
drivers/usb/slave/usbinit.o
drivers/usb/slave/usblib.o
drivers/usb/slave/usbmain.o
drivers/usb/slave/usbout.o
drivers/usb/slave/usbsetup.o
drivers/video/.depend
drivers/video/cfb_console.o
drivers/video/libvideo.a
drivers/video/s3c2410_fb.o
drivers/video/videomodes.o
drivers/watchdog/libwatchdog.a
examples/standalone/.depend
examples/standalone/hello_world
examples/standalone/hello_world.bin
examples/standalone/hello_world.o
examples/standalone/hello_world.srec
examples/standalone/libstubs.a
examples/standalone/stubs.o
fs/cramfs/libcramfs.a
fs/ext2/libext2fs.a
fs/fat/.depend
fs/fat/fat.o
fs/fat/file.o
fs/fat/libfat.a
fs/fdos/libfdos.a
fs/jffs2/.depend
fs/jffs2/compr_rtime.o
fs/jffs2/compr_rubin.o
fs/jffs2/compr_zlib.o
fs/jffs2/jffs2_1pass.o
fs/jffs2/libjffs2.a
fs/jffs2/mini_inflate.o
fs/reiserfs/libreiserfs.a
fs/ubifs/libubifs.a
fs/yaffs2/libyaffs2.a
include/autoconf.mk
include/autoconf.mk.dep
include/bmp_logo.h
include/timestamp_autogenerated.h
include/version_autogenerated.h
lib_arm/.depend
lib_arm/board.o
lib_arm/bootm.o
lib_arm/cache-cp15.o
lib_arm/cache.o
lib_arm/eabi_compat.o
lib_arm/interrupts.o
lib_arm/libarm.a
lib_arm/reset.o
lib_generic/.depend
lib_generic/crc16.o
lib_generic/crc32.o
lib_generic/ctype.o
lib_generic/display_options.o
lib_generic/div64.o
lib_generic/gunzip.o
lib_generic/ldiv.o
lib_generic/libgeneric.a
lib_generic/lzma/liblzma.a
lib_generic/lzo/liblzo.a
lib_generic/net_utils.o
lib_generic/string.o
lib_generic/strmhz.o
lib_generic/time.o
lib_generic/vsprintf.o
lib_generic/zlib.o
libfdt/libfdt.a
net/.depend
net/bootp.o
net/eth.o
net/libnet.a
net/net.o
net/nfs.o
net/rarp.o
net/tftp.o
post/libpost.a
tools/.depend
tools/bmp_logo
tools/bmp_logo.o
tools/crc32.o
tools/default_image.o
tools/env_embedded.o
tools/envcrc
tools/envcrc.o
tools/fdt.o
tools/fdt_ro.o
tools/fdt_rw.o
tools/fdt_strerror.o
tools/fdt_wip.o
tools/fit_image.o
tools/gen_eth_addr
tools/gen_eth_addr.o
tools/image.o
tools/img2srec
tools/img2srec.o
tools/imximage.o
tools/kwbimage.o
tools/md5.o
tools/mkimage
tools/mkimage.o
tools/os_support.o
tools/sha1.o
u-boot
u-boot.lds
u-boot.map
u-boot.srec
